<plugin name='democracia-plena' version='1.0-SNAPSHOT' grailsVersion='1.2 &gt; *'>
  <author>Fabio Issamu Oshiro</author>
  <authorEmail>fabio@gmail.com</authorEmail>
  <title>This plugin adds democratic features to Grails application.</title>
  <description>	Democratic process
	</description>
  <documentation>http://democraciaplena.appspot.com</documentation>
  <resources>
    <resource>BootStrap</resource>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>democraciaplena.LancamentoCaixaController</resource>
    <resource>democraciaplena.ReclamacaoController</resource>
    <resource>democraciaplena.UsuarioController</resource>
    <resource>democraciaplena.VotoController</resource>
    <resource>democraciaplena.LancamentoCaixa</resource>
    <resource>democraciaplena.Localizacao</resource>
    <resource>democraciaplena.Mensagem</resource>
    <resource>democraciaplena.Reclamacao</resource>
    <resource>democraciaplena.Representante</resource>
    <resource>democraciaplena.Tipo</resource>
    <resource>democraciaplena.Usuario</resource>
    <resource>democraciaplena.Voto</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>